<html>
<meta charset="UTF8"></meta>

<head>
  <style>
    .container {
      max-width: 960px;
      margin: 0 auto;
    }

    ul.errors {
      list-style: none;
      padding: 0;
    }

    ul.errors li {
      font-weight: bold;
      color: darkred;
      background-color: lightpink;
      padding: 2px 5px;
    }

    .posts {
      padding: 0;
      list-style: none;
    }

    .posts li {
      margin-bottom: 1em;
      padding: .5em;
    }

    .post {
      border: 1px solid gray;
    }

    .post .title {
      background-color: lightblue;
    }

    .post .times {
      font: small;
      border-top: solid lightblue 1px;
    }
  </style>
</head>

<body>
  <div class="container">
    <h1>簡単な掲示板</h1>
    
