<% include ../../shared/header %>
<h2>ユーザープロフィール</h2>
<div>
  <strong>email: </strong><span><%= currentUser.email %></span>
</div><div>
  <strong>ニックネーム: </strong><span><%= currentUser.nickName %></span>
</div>
<% include ../../shared/footer %>
