<% include ../../shared/header %>
<h2>ユーザープロフィール</h2>
<div>
  <strong>email: </strong><span><%= currentUser.email %></span>
</div><div>
  <strong>氏名: </strong><span>テスト氏名</span>
</div><div>
  <strong>住所: </strong><span>テスト住所</span>
</div>
<% include ../../shared/footer %>
